{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block page_title %}{% trans "Log in" %}{% endblock %}
{% block content %}
<!-- Sign up form -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-4">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {% if field.field.widget.input_type != 'checkbox' %}
                        <label for="{{ field.id_for_label }}" class="sr-only visually-hidden">{{ field.label }}</label>
                        {% endif %}
                        {{ field|as_crispy_field }}
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <button class="btn btn-outline-dark w-100" type="submit">
                            {% trans "Sign In" %}
                        </button>
                    </div>
                </form>
                <p class="py-2">
                    {% blocktrans %}
                    Don't you have an account yet? <a class="link" href="{{ signup_url }}">Sign up</a> for free.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}